header {
  height: 100vh;
}

.top {
  margin-top: 1rem;
}

.container.header__container {
  width: 20%;
  padding-bottom: 2rem;
}

/* ========== CTA ============ */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.moment {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 1rem;
  border-radius: 2rem;
  user-select: none;
}

.header__container > div h5 {
  text-align: center;
  margin-bottom: 0.8rem;
  color: var(--color-primary);
}

.header__container > div h4 {
  margin-top: -1rem;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary);
}

.scroll__down {
  position: absolute;
  right: 0.5rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* =========== MEDIA QUERIS (SMALL DEVICES)========== */

@media  screen and (max-width: 600px) {
  .container.header__container {
    width: var(--container-width-sm);
  }

  .scroll__down {
    position: absolute;
    right: 0.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
  }
}